@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}
html {
    scroll-behavior: smooth;
}
a {
    display: inline;
    text-decoration: none;
}
img {
    width: 100%;
}
h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}
p {
    font-size: 18px;
    line-height: 1.5;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
button {
    cursor: pointer;
    border: none;
}
button:active {
    transform: translateY(1px);
}
section {
    padding: 0 32px;
}
main {
    margin-bottom: 96px;
}
.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.row__narrow {
    width: 100%;
    min-width: 1024px;
    align-items: center;
}
.container {
    padding: 96px 0;
}
.purple {
    color: #6415ff;
}
.footer__info {
    display: flex;
    justify-content: space-between
    ;align-items: center;
}
ul {
    display: flex;
}
li {
    list-style-type: none;
}
i:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}
/* NAVIGATION */

nav {
    padding-top: 32px;
    display: flex;
}
.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}
.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}
.nav__logo--img {
    height: 40px;
    width: 40px;
}
.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}
.nav__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms ease;
    margin: 0 24px;
    letter-spacing: 0.35px;
}
.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}
.nav__link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}
.btn__menu {
    background-color: transparent;
    border: none;
    display: none;
    transition: all 300ms ease;
}
.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}
.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}
.menu--open .menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}
.menu__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}
.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

/* HEADER / ABOUT US */

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__description {
    width: 40%
}
.header__description--para {
    margin: 32px 0;
}
.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}
.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}
.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}
.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}
.header__img--wrapper {
    width: calc(100% - 41.6667%);
}
.header__img {
    width: 100%;
    max-width: 768px;
}

/* FEATURES */

#features {
    position: relative;
}
#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#features .section__title,
#pricing .section__title {
    text-align: center;
}
#features .section__para {
    text-align: center;
    max-width: 576px;
}
.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.feature {
    width: calc(100% / 3);
}
.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}
.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}
.feature__img {
    width: 24px;
    height: 24px;
}
.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}
.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}
.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}
.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}
.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

/* QUALITY WORK */

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#quality .btn {
    margin-top: 32px;
}
.quality__description {
    max-width: 576px;
    margin-right: 64px;
}
.quality__description .quality__img--wrapper {
    width: 50%;
}
.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}
.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}
.quality__img {
    z-index: 1;
}

/* STEPS */

#steps .row {
    display: flex;
    justify-content: space-between
    ;align-items: center;
}
.steps__img--wrapper {
    display: flex;position: relative;
}
.steps__description, .steps__img--wrapper {
    width: 50%;
}
.steps__img {
    z-index: 2;
}
.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}
.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}
.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}
.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}
.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}
.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* VALUES */

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#values .btn {
    margin-top: 48px;
}
.value {
    max-width: 194px;
    max-height: 156px;
}
.values__description {
    padding: 32px 64px 32px 0;
}
.values__description, .values__img {
    width: 50%;
}
.values__list {
    display: flex;
}
.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}
.value:nth-of-type(2) {
    margin-top: 32px;
}
.value__title {
    display: flex;
    align-items: center;
    width: 209px;
    height: 36px;
}
.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}
.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}
.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}
.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}
.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

/* PRICING */

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* TESTIMONIALS */

#testimonials .row {
    display: flex;
}

/* START / CALL TO ACTION */

#start .row {
    position: relative;
    overflow: hidden;
}

/* FOOTER */

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

/* MOBILE RESPONSIVENESS */

@media (max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
    h1 {
        font-size: 36px;
        color: #1a202c;
        line-height: 1.25;
    }
    .header__description--para {
        font-size: 16px;
    }
    .header__customers {
        padding-right: 64px;
    }
    .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
    }
    .header__img {
        max-width: 512px;
    }
}
@media (max-width: 1024px) {
    h1 {
        font-size: 30px;
    }
    .header__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__description, .header__img--wrapper {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }
    .header__description--para {
        margin: 20px 0;
    }
    .header__customers--title, .header__img--wrapper {
        margin-top: 48px;
    }
    .btn__menu {
        display: block;
    }
    .nav__links {
        display: none;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}
@media (max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}
@media (max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}